[Unit]
Description=Create lowpan device
After=network.target

[Service]
EnvironmentFile=/etc/default/lowpan
Type=simple
User=root
ExecStart=/usr/local/sbin/create_lowpan.sh $PAN $CHN

[Install]
WantedBy=multi-user.target
